[submodule "solana-start-T3-Q225"]
	path = solana-start-T3-Q225
	url = https://github.com/Boyquotes/solana-start-T3-Q225
[submodule "walrus-depin"]
	path = walrus-depin
	url = https://github.com/Boyquotes/walrus-depin
[submodule "capstone_colosseum/trading_land_solana"]
	path = capstone_colosseum/trading_land_solana
	url = https://github.com/Boyquotes/trading_land_solana/
